@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
body {
  @apply bg-violet-100 text-slate-950 dark:bg-zinc-900 dark:text-zinc-100;
}

a {
  @apply underline underline-offset-2 transition-all duration-150 ease-in hover:text-violet-600 hover:no-underline dark:text-violet-200 dark:hover:text-violet-400;
}

/* TEXT GRADIENT */
.text-gradient {
  @apply bg-gradient-to-r  from-blue-800 via-violet-700 to-indigo-700 bg-clip-text text-transparent dark:from-blue-500 dark:via-violet-400 dark:to-indigo-400;
}

/* RADIO BUTTONS */
.option-label {
  @apply relative flex h-[85px] w-[85px] cursor-pointer flex-col items-center justify-center gap-1 rounded-md border-2 border-solid border-violet-400 bg-neutral-50 p-2 text-slate-700 shadow-lg transition-all duration-200 ease-out hover:border-violet-800 peer-checked:border-violet-800 peer-checked:bg-violet-50 peer-checked:text-violet-600 peer-checked:ring peer-checked:ring-violet-700/50 dark:border  dark:border-violet-800 dark:bg-neutral-900 dark:text-zinc-300 dark:hover:border-violet-400 dark:peer-checked:bg-indigo-950 dark:peer-checked:text-violet-300 xs:h-[100px] xs:w-[100px] sm:h-28 sm:w-28;
}

.option-radio {
  @apply absolute right-2 top-2 flex h-4 w-4 items-center justify-center rounded-full border-2 border-solid border-gray-400 text-[10px] text-gray-400 transition-all duration-300 ease-out xs:h-5 xs:w-5 xs:text-xs sm:right-1 sm:top-1;
}

.option-input:checked ~ .option-label .option-radio {
  @apply scale-100 bg-violet-400 text-white dark:bg-violet-300 dark:text-indigo-900;
}

/* WORKSPACE BUTTONS */
.workspace-button {
  @apply rounded-sm border border-solid border-indigo-300 px-3 py-1 shadow transition-all duration-300 ease-out hover:border-violet-800 hover:text-violet-600 hover:ring hover:ring-indigo-700/50 active:scale-95 active:bg-indigo-700 active:text-violet-50 active:duration-200 dark:border-gray-600 dark:bg-zinc-800 dark:hover:border-violet-400  dark:hover:text-violet-300 dark:active:bg-indigo-700 dark:active:text-indigo-50 xs:px-2;
}

/* DYNAMIC ELEMENTS -- applies to elements pulled from JSON file */
.js-message--command {
  @apply border bg-gray-100 px-3 py-2 text-[14px] text-indigo-900 dark:border-gray-600 dark:bg-gray-950/20 dark:text-gray-100;
}

.js-message--command p {
  @apply my-1 font-medium dark:text-indigo-100;
}

.js-message--command ul {
  @apply my-1 space-y-1;
}

.js-message--command li {
  @apply pl-4 text-xs;
}

.js-message--command a {
  @apply text-sm;
}

.js-message--command span {
  @apply my-1 block font-medium text-rose-700 dark:text-red-300;
}

.js-message--command li span {
  @apply inline text-violet-600 dark:text-violet-300;
}

.js-message--command pre span {
  @apply inline p-0;
}
